# Ignorar o ambiente virtual
venv/
greenflow-startup/

# Ignorar arquivos temporários do sistema operacional
*.DS_Store
Thumbs.db

# Ignorar arquivos de configuração de IDEs comuns
.vscode/
.idea/

# Ignorar arquivos do Python
__pycache__/
*.pyc

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar arquivos do Office temporários
~$*

# Ignorar a pasta docs e seus arquivos
docs/